screen watch -n .5 "qstat -u cwood | head"
split
focus down
screen watch -n 1 "qpeek $(qstat | grep nrl.ncoda.build | cut -d. -f1) | tail"
split
focus down
screen watch -n .5 "ps -ef | grep cwood | grep -v watch"
focus bottom
